{% extends "base.html" %}
{% block content %}
<h2>la liste des conferences </h2>
<a href="{% url 'conference_add' %}">Ajouter conference </a>
<table border="1">
    <tr>
        <td>title</td>
        <td>location</td>
        <td>Action</td>
        
    </tr>
{% for c in liste %}
    <tr>
        <td>{{c.name}}</td>
        <td>{{c.location}}</td>
 
         <td ><a href="{% url 'details_conference' c.pk %}">details</a></td> <br>
         {% if user.is_authenticated and user.role == "commitee" %}
          <td ><a href="{% url 'conference_edit' c.pk %}">Modifier</a></td> <br>
        <td ><a href="{% url 'conference_delete' c.pk %}">Supprimer</a></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}